<div class="container">
  <h2>Gestión de Inventario</h2>

  <h3>Lista de Inventario</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Categoría</th>
        <th>Fecha de Ingreso</th>
        <th>Nombre del Producto</th>
        <th>ID del Producto</th>
        <th>Cantidad</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of inventario">
        <td>{{ item.categoria }}</td>
        <td>{{ item.fechaIngreso | date }}</td>
        <td>{{ item.nombreProducto }}</td>
        <td>{{ item.idProducto }}</td>
        <td>{{ item.cantidadProducto }}</td>
      </tr>
    </tbody>
  </table>
</div>
